<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Foundation CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css">
    <!-- Personal CSS -->
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <!-- Navbar -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Site Title</li>
                <li><a href="#">One</a></li>
            </ul>
        </div>
    </div>

    <!-- Hero -->
    <div id="hero">
        <div class="hero-section">
            <div class="hero-section-text">
                <h1>{{ head }}</h1>
                <h5>{{ desc }}</h5>
            </div>
        </div>
    </div>

    <!-- App  -->
    <div id="app">
        <div class="grid-container">
            <div class="card" style="width: 300px;">
                <!-- Product -->
                <div class="card-divider">
                    Product
                </div>
                <!-- Image -->
                <img v-bind:src="image" style="height: 150px; width: 150px;" alt="Card image cap">
                <!-- Info -->
                <div class="card-section">
                    <!-- Name -->
                    <h4 style="display: inline-block">{{ product }}</h4>
                    <!-- Status -->
                    <div style="display: inline-block">
                        <p v-if="inventory > 10" class="success label">In Stock</p>
                        <p v-else-if="inventory > 0 && inventory <= 10" class="warning label">
                            Almost Out of Stock ({{ inventory }} left)
                        </p>
                        <p v-else class="alert label">Out of Stock</p>
                        <p v-show="onSale" class="badge alert">SALE!!</p>
                    </div>
                    <!-- Description and Details -->
                    <p>{{ desc }}</p>
                    <ul class="disc">
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>
                    <hr>
                    <div v-for="variant in variants" :key="variant.variantId" style="display: inline-block">
                        <a href="#" target="_blank" class="button hollow">{{ variant.variantColor }}</a>
                    </div>
                    <br>
                    <div v-for="size in sizes" style="display: inline-block">
                        <a href="#" target="_blank" class="secondary button hollow">{{ size }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Foundation JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"></script> -->
    <!-- Personal JS -->
    <script src="static/js/main.js"></script>
</body>

</html>